

  .button-style {
    background-color: black;
    color: white;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;
  }

  .ban-item {
    background-color: black;
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
  }
  